.container {
    max-width:1440px;
    margin: 0 auto;
}

body {
    font-family:"Source Sans Pro";
    background-color:#f9f5f5; 
    color:#070707;
    background-image:url("../fotografie/homepagina.jpg");
    background: color #F9F5F5;
    background-repeat:no-repeat;
    background-size: cover;
    margin:auto;
    background-position:cover;  
    height: 25px;
}

header{
    width:100%;
    height: 110px;
}

.logo {
    height: 200px;
    background-position: start;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
}

.quote {
    font-family:"Abril Fatface";
    color:#FBF8F8;
    font-size: 20.5px;
    text-align: end;
    margin-top: -115px;
}

ul.menu {
    display: flex;
    flex-direction:row;
    font-family:"Abril Fatface";
    font-size: 25.5px;
    list-style: none;  
    background-color:#AA7D5A;
    justify-content: end;
    margin-top: -30px;
}

ul.menu a{
    text-decoration: none; 
    list-style: none; 
    color:#FBF8F8;
    padding: 0px 20px;
}

ul.menu a:hover {
    max-height: 5px;
    background-color:#6B5A4C;
}

.alle-tekst{
    border-left: 2px solid #6B5A4C;
    border-right: 2px solid #6B5A4C; 
    width: 180vh;
    margin-left: 7%;
}
.introductie{
    font-family:"Abril Fatface";
    text-align: center;
    max-width:750px;
    margin: 0 auto;
    background-color: #F9F5F5;
}

.tekst1{
    font-family:"Source Sans Pro";
    font-size: 16px;
    max-width:750px;
    text-align: center;
    margin: 0 auto;
    background-color: #F9F5F5;
}

.zoekfunctie{
    max-width: 600px;
    margin:0 auto;
    background-color:#FFFFFF;
    border: 2px solid #5D4D4D;
    border-radius: 150px;
    padding: 5px;
    justify-content:center;
    text-align:center;
    margin-top: 100px;   
}
.zoekfunctie1{ 
    font-family:"Abril Fatface";
    font-size:16px;  
}

.zoekfunctie2{
     border: 10px solid #707070;
     border-radius: 100px;
     padding: 5px;
     font-family:"Abril Fatface";
     font-size:15px; 
     width:220px;
     margin: 0 auto;
     color: #707070;
}
.statistieken{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px 75px;
    text-align: center;
    font-family:"Abril Fatface";
    color:#FFFFFF;
    background-color:#D5B195;
    font-size:20px;
}

.cijfer{
    color:black;
    background-color:white;
    border: 2px solid white;
    border-radius: 200px;
    padding: 15px;
    justify-content:space-around;
    align-items: center;
}
 
.reviews{
    font-family:"Abril Fatface";
    text-align: center;
    background-color: #F9F5F5;
    border-left: 2px solid #6B5A4C;
    border-right: 2px solid #6B5A4C; 
    width: 180vh;
    margin-left: 7%;
}

.reviews1{
    background-color: #F9F5F5;
}

.laad-meer{
    font-family:"Abril Fatface";
    color:#FFFFFF;
    font-size: 14px;
    max-width: 75px;
    margin:0 auto;
    background-color:#5D4D4D ;
    border: 2px solid #5D4D4D;
    border-radius: 75px;
    padding: 15px;
    justify-content:center;
    text-align:center;
}

.lijn1{
    background-color: #6B5A4C;
    height: 2px;
    width: 100%;
}

.lijn2{
    background-color: #6B5A4C;
    height: 2px;
    width: 100%;
}

.lijn3{
    background-color: #6B5A4C;
    height: 2px;
    width: 100%;   
}



