.container {
    max-width:1440px;
    margin: 0 auto;
}

body {
    font-family:"Source Sans Pro";
    background-color:#f9f5f5; 
    color:#070707;
    background-image:url("../fotografie/homepagina.jpg");
    background: color #F9F5F5;
    background-repeat:no-repeat;
    background-size: cover;
    margin:auto;
    background-position:cover;  
    height: 25px;
}

.header-container{
    background-image:url("../fotografie/homepagina.jpg");
    background: color #f9f5f5;
    background-repeat:no-repeat;
    background-size: cover;
    height:25px;

}

header{
    width:100%;
    height: 110px;
}

.logo {
height: 200px;
background-position: start;
background-repeat: no-repeat;
display: flex;
justify-content: flex-start;
}


.quote {
    font-family:"Abril Fatface";
    color:#FBF8F8;
    font-size: 20.5px;
    text-align: end;
    margin-top: -115px;
}

ul.menu {
    display: flex;
    flex-direction:row;
    font-family:"Abril Fatface";
    font-size: 25.5px;
    list-style: none;  
    background-color:#AA7D5A;
    justify-content: end;
    margin-top: -30px;
    

}

ul.menu a{
    text-decoration: none; 
    list-style: none; 
    color:#FBF8F8;
    padding: 50px 20px;
}

ul.menu a:hover {
background-color:#6B5A4C;
}

.statistieken{
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    font-family:"Abril Fatface";
    color:#FFFFFF;
    background-color:#D5B195;
}

.introductie{
    font-family:"Abril Fatface";
    text-align: center;
    max-width:750px;
    margin: 0 auto;
    background-color: #F9F5F5;
}

.tekst1{
    font-family:"Source Sans Pro";
    font-size: 16px;
    max-width:750px;
    text-align: center;
    margin: 0 auto;
    background-color: #F9F5F5;
}

.zoekfunctie{
     max-width: 750px;
     margin:0 auto;
     background-color:#FFFFFF;
     border: 2px solid #5D4D4D;
     border-radius: 50px;
     padding: 5px;
     justify-content:center;
     text-align:center;
     margin-top: 225px;

}

.zoekfunctie1{ 
    font-family:"Abril Fatface";
    font-size:16px;
    
}

.zoekfunctie2{
     border: 10px solid #707070;
     border-radius: 100px;
     padding: 5px;
     font-family:"Abril Fatface";
     font-size:24px; 
     color: #707070;
}

.reviews{
    font-family:"Abril Fatface";
    text-align: center;
    background-color: #F9F5F5;
}

.reviews1{
    background-color: #F9F5F5;
}

.lijnen{
    background-color: #6B5A4C;
    height: 1px;
    width: 100%;
}